extends base

block content
  main.main
    .error
      .error__title
        h1.heading-secondary.heading-secondary--signup Welcome To Natours!    
      .error__msg Your account has been verified! Please login to access your account.