extends base

block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Forgot Password? 
            form.form.form--forgot-password
                .form__group
                    label.form__label(for='email') Put your email in the box below to reset your password.
                    input#email.form__input(type='email', placeholder='you@example.com', required)
                .form__group
                    button.btn.btn--green.button--forgot-password Send Email