extends base

//- Reset Password Form
block content 
    main.main
        .user-view
            .user-view__content
                .user-view__form-container
                    h2.heading-secondary.ma-bt-md Reset Your Password
                    form.form.form-reset-user-password
                        .form__group
                            label.form__label(for='password') New Password
                            input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                        .form__group
                            label.form__label(for='password-confirm') Confirm Password
                            input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
                        .form__group.right
                            button.btn.btn--small.btn--green.btn--save-reset-password Reset Password